{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Bad Apples UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
    <link rel="apple-touch-icon" href="pages/ico/60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="pages/ico/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="pages/ico/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="pages/ico/152.png">
    <!-- <link rel="icon" type="image/x-icon" href="favicon.ico" /> -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="/static/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/static/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/static/assets/plugins/switchery/css/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/static/pages/css/pages-icons.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="/static/pages/css/themes/light.css" rel="stylesheet" type="text/css" />
	<link media="screen" type="text/css" rel="stylesheet" href="/static/assets/plugins/jquery-nouislider/jquery.nouislider.css">
	
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
	
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/themes/cupertino/jquery-ui.css" rel="stylesheet" type="text/css" >
	<link rel="stylesheet" type="text/css" href="spectrum.css">
	
	 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>
  <body class="fixed-header menu-pin">
  
    <!-- BEGIN SIDEBPANEL-->
    <nav class="page-sidebar" data-pages="sidebar">
      <div class="sidebar-menu">
        <!-- BEGIN SIDEBAR MENU ITEMS-->
		<div class="row">
		<div class="col-md-12" style="" id="sideMenu">
		
        <div class="m-t-50" id="fbpagesPart">
		  <div class="notactive fbpagesOuter pointer" style="margin-top:10px;margin-bottom:10px;important;padding:10px;">
		  {% for page in pages %}
		 

			{% if page.current %}
			<span class="m-t-30">
			
			<img src="{{ page.image }}" style="border-radius:50%;width:50px;height:50px;" class="fbImg">
              <span class="m-l-5 f-la-bo f-15 white">{{ page.name }}</span><i class="fas fa fa-caret-down white f-20 m-l-5 m-t-5"></i></span>
			  {% endif %}

          {% endfor %}
			  
          </div>
		  <div class="fbpagesInner">
		  <div class="m-b-20">
		  <input id="stuff001" type="text" style="border-radius:7px;border:none;width:200px;margin:0 20px;background-color:#272431;height:35px;color:#fff;" placeholder=" Search">
		  </div>
			{% for page in pages %}
			<div class="m-b-10 pointer" style="padding:10px;background-color: #4a4d51;">
			<a class="nav-link" href="/dashboard/?uid={{uid}}&&page_id={{page.page_id}}">
			<span class="">
			
			<img src="{{ page.image }}" style="border-radius:50%;width:50px;height:50px;">
              <span class="m-l-10 f-la-bo f-15 white">{{ page.name }}</span></span>
			  </a>
			</div>

          {% endfor %}
			
			
			<div>
			<a href="/addnewpage" style="padding:0 10px;">
			<center><img src="/static/pages/img/icons/plus.png" style="width:40px;height:40px;">&emsp;<span class="f-15 white">Add New Page</span></center>
            </a>
			</div>
		  </div>
		  </div>
		  <ul class="nav nav-pills">
          <li class="active letterShow blackBg" style="margin-top:10px;margin-bottom:10px;">
            <a data-toggle="pill" href="#dashboard">
			<span class=""><img src="/static/pages/img/icons/background-ico1.png" style="width:30px;height:30px;">
              <span class="m-l-10 f-la-bo f-15 menuLetter">Dashboard</span></span>
            </a>
          </li>
          <!-- <li class="" style="margin-top:10px;margin-bottom:10px;"> -->
            <!-- <a data-toggle="pill" href="#fanpages"> -->
			<!-- <span class=""><img src="/static/pages/img/icons/flag.png" style="width:30px;height:30px;"> -->
			<!-- <span class="m-l-10 f-la-bo f-15">Fanpages</span></span> -->
            <!-- </a> -->
          <!-- </li> -->
		  <li class="letterHide blackBg" style="margin-top:10px;margin-bottom:10px;">
            <a data-toggle="pill" href="#reports">
			<span class=""><img src="/static/pages/img/icons/file.png" style="width:30px;height:30px;">
              <span class="m-l-10 f-la-bo f-15 menuLetter">Reports</span></span>
            </a>
          </li>
		  <li class="letterShow" style="margin-top:10px;margin-bottom:10px;" id="whiteBg">
            <a data-toggle="pill" href="#filters">
			<span class=""><img src="/static/pages/img/icons/filter.png" style="width:30px;height:30px;">
              <span class="m-l-10 f-la-bo f-15 menuLetter">Filters</span></span>
            </a>
          </li>
		  <li class="letterHide blackBg" style="margin-top:10px;margin-bottom:10px;" id="">
            <a data-toggle="pill" href="#history">
			<span class=""><img src="/static/pages/img/icons/history.png" style="width:30px;height:30px;">
              <span class="m-l-10 f-la-bo f-15 menuLetter">History</span></span>
            </a>
          </li>
          <li class="letterShow blackBg" style="margin-top:10px;margin-bottom:10px;">
            <a data-toggle="pill" href="#settings">
			<span class=""><img src="/static/pages/img/icons/settings.png" style="width:30px;height:30px;">
              <span class="m-l-10 f-la-bo f-15 menuLetter">Settings</span></span>
			</a>
          </li>
        </ul>
		</div>
		

  </div>
        <div class="clearfix"></div>
      </div>
      <!-- END SIDEBAR MENU -->
    </nav>
    <!-- END SIDEBAR -->
    <!-- END SIDEBPANEL-->
    <!-- START PAGE-CONTAINER -->
    <div class="page-container ">
      <!-- START HEADER -->
	  
	  <div class="header" style="padding-left:130px;background-color:#272431;">
	  <div class="pull-left m-t-20 m-b-20 m-l-30 p-t-10">	
	  </div>
	  <div class="pull-right">
	  <a href="/logout">
	  <button class="btn btn-info" style="border-radius:7px;background-color:#F200AF;color:#fff;"><span class="white f-15 f-la-re">Logout</span>&emsp;<i class="fa fa-lock"></i></button>
	  </a>
	  </div>
	  </div>
      
        <!-- START MOBILE SIDEBAR TOGGLE -->
        <a href="#" class="btn-link toggle-sidebar d-lg-none pg pg-menu" data-toggle="sidebar">
        </a>
        <!-- END MOBILE SIDEBAR TOGGLE -->
        
        
      
      <!-- END HEADER -->
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper full-height" style="margin-top:60px;">
        <!-- START PAGE CONTENT -->
        <div class="content full-height">
          <!-- START APP -->
          <!-- START SECONDARY SIDEBAR MENU-->
          
          <!-- END SECONDARY SIDEBAR MENU -->
          <div class="inner-content full-height">
		  <div class="container" style="margin:0!important;max-width:100%;">
		  <div class="row" id="row-main">
			<!--content1  height:660px; -->
		  <div class="col-md-12" id="content1" style="background-color:#272431;height:auto;">
		  <!-- background-image:url('/static/pages/img/icons/main_bg.png');height:950px -->
		  
		  
		<div class="" id="sideMenuTab">
		<div class="tab-content">
		
	  
	  
    <div id="dashboard" class="tab-pane fade show active m-t-15">
		<div class="row">
		<div class="col-md-1">
		</div>
	  <div class="col-md-11">
	  <div class="row">
	  <div class="col-md-3 m-t-5">
	  	  <p class="f-17 white m-l-10">AI Sentimental Analysis On? </p></div>
		  <div class="col-md-3" style="padding:0!important;">
			  <span class="m-l-10">
			  <input id='analysisToggle' autocomplete="off" class='control1'
					 type="checkbox" name="checkbox" {% if curpage.sentiment_analysis %}
					 checked="checked" {% endif %}>{{curpage.sentiment_analysis}}
				<label class="switch1" for='analysisToggle'>
				  <output class="slider1" for='analysisToggle'></output>
				</label>
			  </span>
		  <span id="onlyAds" class="m-l-70">
			  <span class="white f-17">Only Ads?</span>
			  <span class="">
			  <input id='addonlyToggle'
					 autocomplete="off" type="checkbox"
					 class="m-l-10 checkbox check-success"
					 {% if curpage.add_only %} checked="checked" {% endif %}/>{{curpage.sentiment_analysis}}
			  </span>
		  </span>
		  </span>
	  </div>
	  </div>
	  </div>
	  </div>
      <div class="row">
	  <div class="col-lg-12 m-t-10 m-b-20">
	  <div id="number_format_chart" style="width: 100%; height: 500px"></div>
	  </div>
	  </div>
    </div>
	
	
    <div id="reports" class="tab-pane fade m-t-20">
      <div class="row">
	  <div class="col-lg-12">
	  <p class="m-l-30  m-b-40 white f-17 f-la-re"><b>Reports</b></p>
	  </div>
	  </div>
	  
	  <div class="row">
	  <div class="col-md-12">
	  <div class="row">
	  
	  <span class="white f-17 f-la-re m-l-30">Date &emsp;<select id="selectDate" class="selectpicker f-17" id="" style="width:150px;height:30px;border:none;">
      <option>All</option>
      <option>Today</option>
      <option>Yesterday</option>
      <option>Last 7 Days</option>
	  <option>Last 30 Days</option>
	  <option value="5">Use Exact Date</option>
	  <option value="6">In Between</option>
    </select></span>
	<span class="row m-l-20"><span id="datepart" style="display:none;"><span class="f-17 white m-r-5">From</span><input type="date" data-date-inline-picker="false" data-date-open-on-focus="true" data-date-format="DD MMMM YYYY" value="2019-05-01" style="height:30px;border:none;"/>&emsp;<span class="f-17 white m-r-5">To</span><input type="date" data-date-inline-picker="false" data-date-open-on-focus="true" data-date-format="DD MMMM YYYY" value="2019-06-01" style="height:30px;border:none;"/></span><span id="exactDatepart" style="display:none;"><input type="date" data-date-inline-picker="false" data-date-open-on-focus="true" data-date-format="DD MMMM YYYY" value="2019-05-01" style="height:30px;border:none;"/></span></span>
	  </div>
	  </div>
	  
	  <div class="col-md-12 m-t-10">
	  <div class="row">
	  <span class="white f-17 f-la-re m-l-30">Time &emsp;<select id="selectTime" class="selectpicker f-17" id="" style="width:150px;height:30px;border:none;">
      <option>Do Not Select</option>
	  <option value="2">Use Exact Time</option>
	  <option value="3">In Between</option>
    </select></span>
	<span class="row m-l-20"><span id="timepart" style="display:none;"><span class="f-17 white m-r-5">From</span><input type="time" value="13:00" style="height:30px;border:none;width:65px;padding:3px;"/>&emsp;<span class="f-17 white m-r-5">To</span><input type="time" value="18:00" style="height:30px;border:none;width:65px;padding:3px"/></span><span id="exactTimepart" style="display:none;"><input type="time" value="13:00" style="height:30px;border:none;width:65px;padding:3px"/></span></span>
	
	  </div>
	  </div>
	  
	  <div class="col-md-12 m-t-10 m-l-30 m-t-20">
	  <div class="row">
	  <div class="checkbox checkbox-primary" style="margin:0;">
            <input id="checkbox3" type="checkbox">
            <label for="checkbox3">
                        </label>
          </div>
	  <p class="f-17 white f-la-re m-t-5">Show Removed Comments Only</p>
	  &emsp;
	  <div class="checkbox checkbox-primary" style="margin:0;">
            <input id="checkbox4" type="checkbox">
            <label for="checkbox4">
                        </label>
          </div>
	  <p class="f-17 white f-la-re m-t-5">Show Reinstated Comments Only</p>
	  &emsp;<button class="btn btn-info" style="border-radius:7px;background-color:#F200AF;color:#fff;border:none;"><span class="white f-15 f-la-re">Search</span></button>
	  </div>
	  </div>
	  
	  </div>
	  
	  <div class="row m-t-20">
	  <div class="col-md-12">
	  <table class="table" border="0" style="border:0px;">
			<thead>
			<tr class="text-center f-17 f-la-bo white">
			<th style="width:15%;">
			<p class="white f-20 f-la-bo text-center">Date & Time</p>
			</th>
			<th style="width:15%;">
			<p class="white f-20 f-la-bo text-center">Link To Post</p>
			</th>
			<th style="width:35%;">
			<p class="white f-20 f-la-bo text-center">Removed Comments</p>
			</th>
			<th style="width:35%;">
			<p class="white f-20 f-la-bo text-center">Reinstated Comments</p>
			</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td style="width:15%;">
			<p class="white f-15 f-la-re text-center">25/06/2019<br>10:15</p>
			</td>
			<td style="width:15%;">
			<center><button class="btn btn-info" style="border-radius:7px;background-color:#F200AF;color:#fff;border:none;"><span class="white f-15 f-la-re">View Post</span></button></center>
			</td>
			<td style="width:35%;">
			<p class="white f-15 f-la-re">This is the worst post i have ever seen in social media</p>
			</td>
			<td style="width:35%;">
			<p class="white f-15 f-la-re">This is the worst post i have ever seen in social media</p>
			</td>
			</tr>
			<tr>
			<td style="width:15%;">
			<p class="white f-15 f-la-re text-center">25/06/2019<br>10:15</p>
			</td>
			<td style="width:15%;">
			<center><button class="btn btn-info" style="border-radius:7px;background-color:#F200AF;color:#fff;border:none;"><span class="white f-15 f-la-re">View Post</span></button></center>
			</td>
			<td style="width:35%;">
			<p class="white f-15 f-la-re">This is the worst post i have ever seen in social media</p>
			</td>
			<td style="width:35%;">
			<p class="white f-15 f-la-re">This is the worst post i have ever seen in social media</p>
			</td>
			</tr>
			<tr>
			<td style="width:15%;">
			<p class="white f-15 f-la-re text-center">25/06/2019<br>10:15</p>
			</td>
			<td style="width:15%;">
			<center><button class="btn btn-info" style="border-radius:7px;background-color:#F200AF;color:#fff;border:none;"><span class="white f-15 f-la-re">View Post</span></button></center>
			</td>
			<td style="width:35%;">
			<p class="white f-15 f-la-re">This is the worst post i have ever seen in social media</p>
			</td>
			<td style="width:35%;">
			<p class="white f-15 f-la-re">This is the worst post i have ever seen in social media</p>
			</td>
			</tr>
			<tr>
			<td style="width:15%;">
			<p class="white f-15 f-la-re text-center">25/06/2019<br>10:15</p>
			</td>
			<td style="width:15%;">
			<center><button class="btn btn-info" style="border-radius:7px;background-color:#F200AF;color:#fff;border:none;"><span class="white f-15 f-la-re">View Post</span></button></center>
			</td>
			<td style="width:35%;">
			<p class="white f-15 f-la-re">This is the worst post i have ever seen in social media</p>
			</td>
			<td style="width:35%;">
			<p class="white f-15 f-la-re">This is the worst post i have ever seen in social media</p>
			</td>
			</tr>
			<tr>
			<td style="width:15%;">
			<p class="white f-15 f-la-re text-center">25/06/2019<br>10:15</p>
			</td>
			<td style="width:15%;">
			<center><button class="btn btn-info" style="border-radius:7px;background-color:#F200AF;color:#fff;border:none;"><span class="white f-15 f-la-re">View Post</span></button></center>
			</td>
			<td style="width:35%;">
			<p class="white f-15 f-la-re">This is the worst post i have ever seen in social media</p>
			</td>
			<td style="width:35%;">
			<p class="white f-15 f-la-re">This is the worst post i have ever seen in social media</p>
			</td>
			</tr>
			</tbody>
			</table>
	  </div>
	  </div>
	</div>
	
	
	<div id="filters" class="tab-pane fade m-t-20">
      <div class="row">
	  <div class="col-lg-12">
	  <p class="m-l-30  m-b-40 black f-17 f-la-re"><b>Filters</b></p>
	  </div>
	  </div>
	  <div class="row">
	  <div class="col-md-12">
	  <div class="row">
	  <div class="col-md-3" style="padding:0!important;">
	  	  <p class="f-17 black m-r-10 m-l-30 m-t-5 text-center">Blacklist / Whitelist</p></div>
		  <div class="col-md-3" style="padding:0!important;">
		  <span><input id='listToggle' class='control1' type="checkbox" name="checkbox">
<label class="switch1" for='listToggle'>
  <output class="slider1" for='listToggle'></output>
</label></span>
	  </div>
	  </div>
	  </div>
	  </div>
	  <div id="blackPart" style="width:500px;border-radius:10px;">
	  <div class="row m-t-30">
	  <div class="col-md-12">
	  <span><span class="f-17 black pull-left m-l-30 m-t-15">Words to Block</span><span class="pull-right m-t-10 m-r-30"><img class="img-responsive center-block pointer" src="/static/pages/img/icons/black-plus.png" id="blackAddBtn" style="width:30px;height:30px;"></span></span>
	  </div>
	  </div>
	  <div class="row m-t-20" id="blackAddInput" style="display:none;">
	  <div class="col-md-12">
	  <span><span class="f-17 black pull-left m-l-10"><input id="stuff002" type="text" style="border-radius:7px;border:none;width:300px;margin:0 20px;background-color:#373840;height:35px;color:#fff;" placeholder=" Type Keyword"></span><span class="pull-right m-r-30"><button class="btn btn-primary" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Submit</span></button></span></span>
	  </div>
	  </div>
	  <div class="row m-t-20 p-b-20">
	  <div class="col-md-12" id="blackTable">
	  <table class="table" style="border: 1px solid lightgray!important;">
			<tbody style="height:auto;">
			<tr style="border: 1px solid lightgray!important;">
			<td style="width:50%;">
			<p class="f-17 black text-center m-t-5">Worst Post</p>
			</td>
			<td style="width:50%;">
			<center><button class="btn btn-primary" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Edit</span></button>&emsp;<button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Delete</span></button></center>
			</td>
			</tr>
			<tr style="border: 1px solid lightgray!important;">
			<td style="width:50%;">
			<p class="f-17 black text-center m-t-5">Damn you</p>
			</td>
			<td style="width:50%;">
			<center><button class="btn btn-primary" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Edit</span></button>&emsp;<button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Delete</span></button></center>
			</td>
			</tr>
			<tr style="border: 1px solid lightgray!important;">
			<td style="width:50%;">
			<p class="f-17 black text-center m-t-5">Go to Hell</p>
			</td>
			<td style="width:50%;">
			<center><button class="btn btn-primary" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Edit</span></button>&emsp;<button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Delete</span></button></center>
			</td>
			</tr>
			<tr style="border: 1px solid lightgray!important;">
			<td style="width:50%;">
			<p class="f-17 black text-center m-t-5">Piss off</p>
			</td>
			<td style="width:50%;">
			<center><button class="btn btn-primary" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Edit</span></button>&emsp;<button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Delete</span></button></center>
			</td>
			</tr>
			<tr style="border: 1px solid lightgray!important;">
			<td style="width:50%;">
			<p class="f-17 black text-center m-t-5">Bitch please</p>
			</td>
			<td style="width:50%;">
			<center><button class="btn btn-primary" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Edit</span></button>&emsp;<button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Delete</span></button></center>
			</td>
			</tr>
			</tbody>
			</table>
	  
	  <!-- <span><span class="f-17 black pull-left m-l-30 m-t-10 ">Worst</span><span class="pull-right m-t-10 m-r-30"><button class="btn btn-primary" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Edit</span></button>&emsp;<button class="btn btn-danger" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Delete</span></button></span></span><br> -->
	  <!-- <span><span class="f-17 black pull-left m-l-30 m-t-10 ">Worst</span><span class="pull-right m-t-10 m-r-30"><button class="btn btn-primary" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Edit</span></button>&emsp;<button class="btn btn-danger" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Delete</span></button></span></span><br> -->
	  <!-- <span><span class="f-17 black pull-left m-l-30 m-t-10 ">Worst</span><span class="pull-right m-t-10 m-r-30"><button class="btn btn-primary" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Edit</span></button>&emsp;<button class="btn btn-danger" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Delete</span></button></span></span><br> -->
	  <!-- <span><span class="f-17 black pull-left m-l-30 m-t-10 ">Worst</span><span class="pull-right m-t-10 m-r-30"><button class="btn btn-primary" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Edit</span></button>&emsp;<button class="btn btn-danger" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Delete</span></button></span></span><br> -->
	  </div>
	  </div>
	  </div>
	  
	  <div id="whitePart" style="width:500px;border-radius:10px;">
	  <div class="row m-t-30">
	  <div class="col-md-12">
	  <span><span class="f-17 black pull-left m-l-30 m-t-15">Words to Add</span><span class="pull-right m-t-10 m-r-30"><img class="img-responsive center-block pointer" src="/static/pages/img/icons/black-plus.png" id="whiteAddBtn" style="width:30px;height:30px;"></span></span>
	  </div>
	  </div>
	  <div class="row m-t-20" id="whiteAddInput" style="display:none;">
	  <div class="col-md-12">
	  <span><span class="f-17 black pull-left m-l-10"><input id="stuff003" type="text" style="border-radius:7px;border:none;width:300px;margin:0 20px;background-color:gray;height:35px;color:#fff;" placeholder=" Type Keyword"></span><span class="pull-right m-r-30"><button class="btn btn-success" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Submit</span></button></span></span>
	  </div>
	  </div>
	  <div class="row m-t-20 p-b-20" id="whiteTable">
	  <div class="col-md-12">
	  <table class="table" style="border: 1px solid lightgray!important;">
			<tbody style="height:auto;">
			<tr style="border: 1px solid lightgray!important;">
			<td style="width:50%;">
			<p class="f-17 black text-center m-t-5">Fantastic</p>
			</td>
			<td style="width:50%;">
			<center><button class="btn btn-primary" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Edit</span></button>&emsp;<button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Delete</span></button></center>
			</td>
			</tr>
			<tr style="border: 1px solid lightgray!important;">
			<td style="width:50%;">
			<p class="f-17 black text-center m-t-5">Keep Going</p>
			</td>
			<td style="width:50%;">
			<center><button class="btn btn-primary" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Edit</span></button>&emsp;<button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Delete</span></button></center>
			</td>
			</tr>
			<tr style="border: 1px solid lightgray!important;">
			<td style="width:50%;">
			<p class="f-17 black text-center m-t-5">Marvellous</p>
			</td>
			<td style="width:50%;">
			<center><button class="btn btn-primary" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Edit</span></button>&emsp;<button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Delete</span></button></center>
			</td>
			</tr>
			<tr style="border: 1px solid lightgray!important;">
			<td style="width:50%;">
			<p class="f-17 black text-center m-t-5">Awesome</p>
			</td>
			<td style="width:50%;">
			<center><button class="btn btn-primary" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Edit</span></button>&emsp;<button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Delete</span></button></center>
			</td>
			</tr>
			<tr style="border: 1px solid lightgray!important;">
			<td style="width:50%;">
			<p class="f-17 black text-center m-t-5">Good Post</p>
			</td>
			<td style="width:50%;">
			<center><button class="btn btn-primary" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Edit</span></button>&emsp;<button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Delete</span></button></center>
			</td>
			</tr>
			</tbody>
			</table>
	  
	  <!-- <span><span class="f-17 black pull-left m-l-30 m-t-10 ">Good Post</span><span class="pull-right m-t-10 m-r-30"><button class="btn btn-primary" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Edit</span></button>&emsp;<button class="btn btn-danger" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Delete</span></button></span></span><br> -->
	  <!-- <span><span class="f-17 black pull-left m-l-30 m-t-10 ">Awesome</span><span class="pull-right m-t-10 m-r-30"><button class="btn btn-primary" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Edit</span></button>&emsp;<button class="btn btn-danger" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Delete</span></button></span></span><br> -->
	  <!-- <span><span class="f-17 black pull-left m-l-30 m-t-10 ">Marvellous</span><span class="pull-right m-t-10 m-r-30"><button class="btn btn-primary" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Edit</span></button>&emsp;<button class="btn btn-danger" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Delete</span></button></span></span><br> -->
	  <!-- <span><span class="f-17 black pull-left m-l-30 m-t-10 ">Keep Going</span><span class="pull-right m-t-10 m-r-30"><button class="btn btn-primary" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Edit</span></button>&emsp;<button class="btn btn-danger" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Delete</span></button></span></span><br> -->
	  <!-- <span><span class="f-17 black pull-left m-l-30 m-t-10 ">Fantastic</span><span class="pull-right m-t-10 m-r-30"><button class="btn btn-primary" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Edit</span></button>&emsp;<button class="btn btn-danger" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Delete</span></button></span></span><br> -->
	  </div>
	  </div>
	  </div>
    </div>
	
	<div id="history" class="tab-pane fade m-t-20">
      <div class="row">
	  <div class="col-lg-12">
	  <p class="m-l-30  m-b-40 white f-17 f-la-re"><b>History</b></p>
	  </div>
	  </div>
	  
	  <div class="row">
	  <div class="col-md-12">
	  <div class="row">
	  <span class="white f-17 f-la-re m-l-30">Date &emsp;<select id="selectDate1" class="selectpicker f-17" id="" style="width:150px;height:30px;">
      <option>All</option>
      <option>Today</option>
      <option>Yesterday</option>
      <option>Last 7 Days</option>
	  <option>Last 30 Days</option>
	  <option value="5">Use Exact Date</option>
	  <option value="6">In Between</option>
    </select></span>
	<span class="row m-l-20"><span id="datepart1" style="display:none;"><span class="f-17 white m-r-5">From</span><input type="date" data-date-inline-picker="false" data-date-open-on-focus="true" data-date-format="DD MMMM YYYY" value="2019-05-01" style="height:30px;border:none;"/>&emsp;<span class="f-17 white m-r-5">To</span><input type="date" data-date-inline-picker="false" data-date-open-on-focus="true" data-date-format="DD MMMM YYYY" value="2019-06-01" style="height:30px;border:none;"/></span><span id="exactDatepart1" style="display:none;"><input type="date" data-date-inline-picker="false" data-date-open-on-focus="true" data-date-format="DD MMMM YYYY" value="2019-05-01" style="height:30px;border:none;"/></span></span>
	  </div>
	  </div>
	  
	  <div class="col-md-12 m-t-10">
	  <div class="row">
	  <span class="white f-17 f-la-re m-l-30">Time &emsp;<select id="selectTime1" class="selectpicker f-17" id="" style="width:150px;height:30px;">
      <option>Do Not Select</option>
	  <option value="2">Use Exact Time</option>
	  <option value="3">In Between</option>
    </select></span>
	<span class="row m-l-20"><span id="timepart1" style="display:none;"><span class="f-17 white m-r-5">From</span><input type="time" value="13:00" style="height:30px;border:none;width:65px;padding:3px;"/>&emsp;<span class="f-17 white m-r-5">To</span><input type="time" value="18:00" style="height:30px;border:none;width:65px;padding:3px;"/></span><span id="exactTimepart1" style="display:none;"><input type="time" value="13:00" style="height:30px;border:none;width:65px;padding:3px;"/></span></span>
	  </div>
	  </div>
	  
	  <div class="col-md-12 m-l-30 m-t-20">
	  <div class="row">
	  <div class="checkbox checkbox-primary" style="margin:0;">
            <input id="checkbox5" type="checkbox">
            <label for="checkbox5">
                        </label>
          </div>
	  <p class="f-17 white f-la-re m-t-5">Show Removed Comments Only</p>
	  &emsp;
	  <div class="checkbox checkbox-primary" style="margin:0;">
            <input id="checkbox6" type="checkbox">
            <label for="checkbox6">
                        </label>
          </div>
	  <p class="f-17 white f-la-re m-t-5">Show Reinstated Comments Only</p>
	  &emsp;<button class="btn btn-info" style="border-radius:7px;background-color:#F200AF;color:#fff;border:none;"><span class="white f-15 f-la-re">Search</span></button>
	  </div>
	  </div>
	  
	  </div>
	  <div class="row m-t-20">
	  <div class="col-md-12">
	  <table class="table" border="0" style="border:0px;">
			<thead>
			<tr class="text-center f-17 f-la-bo white">
			<th style="width:15%;">
			<p class="white f-20 f-la-bo text-center">Date & Time</p>
			</th>
			<th style="width:15%;">
			<p class="white f-20 f-la-bo text-center">Profile</p>
			</th>
			<th style="width:25%;">
			<p class="white f-20 f-la-bo text-center">Comment</p>
			</th>
			<th style="width:15%;">
			<p class="white f-20 f-la-bo text-center">Post</p>
			</th>
			<th style="width:15%;">
			<p class="white f-20 f-la-bo text-center">Bring Back?</p>
			</th>
			<th style="width:15%;">
			<p class="white f-20 f-la-bo text-center">Ban Again?</p>
			</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td style="width:15%;">
			<p class="white f-15 f-la-re text-center">25/06/2019<br>10:15</p>
			</td>
			<td style="width:15%;">
			<center><img class="img-responsive center-block" src="/static/pages/img/icons/image-sample4.png" style="border-radius:50%;overflow:hidden;width: 5rem;height: 5rem;"/></center>
			<p class="white f-15 f-la-re pointer m-t-10 text-center"><u>Vigneshraja K</u></p>
			</td>
			<td style="width:25%;">
			<p class="white f-15 f-la-re">This is the worst post i have ever seen in social media</p>
			</td>
			<td style="width:15%;">
			<center><button class="btn btn-info" style="border-radius:7px;background-color:#F200AF;color:#fff;border:none;"><span class="white f-15 f-la-re">View Post</span></button></center>
			</td>
			<td style="width:15%;">
			<center><button class="btn btn-info" style="border-radius:7px;background-color:#F200AF;color:#fff;border:none;"><span class="white f-15 f-la-re">Bring Back!</span></button></center>
			</td>
			<td style="width:15%;">
			<center><button class="btn btn-info" data-toggle="modal" data-target="#banModal" style="border-radius:7px;background-color:#F200AF;color:#fff;border:none;"><span class="white f-15 f-la-re">Ban Again!</span></button></center>
			</td>
			</tr>
			<tr>
			<td style="width:15%;">
			<p class="white f-15 f-la-re text-center">26/06/2019<br>11:00</p>
			</td>
			<td style="width:15%;">
			<center><img class="img-responsive center-block" src="/static/pages/img/icons/image-sample3.png" style="border-radius:50%;overflow:hidden;width: 5rem;height: 5rem;"/></center>
			<p class="white f-15 f-la-re pointer m-t-10 text-center"><u>Vigneshraja K</u></p>
			</td>
			<td style="width:25%;">
			<p class="white f-15 f-la-re">This is the worst post i have ever seen in social media</p>
			</td>
			<td style="width:15%;">
			<center><button class="btn btn-info" style="border-radius:7px;background-color:#F200AF;color:#fff;border:none;"><span class="white f-15 f-la-re">View Post</span></button></center>
			</td>
			<td style="width:15%;">
			<center><button class="btn btn-info" style="border-radius:7px;background-color:#F200AF;color:#fff;border:none;"><span class="white f-15 f-la-re">Bring Back!</span></button></center>
			</td>
			<td style="width:15%;">
			<center><button class="btn btn-info" data-toggle="modal" data-target="#banModal" style="border-radius:7px;background-color:#F200AF;color:#fff;border:none;"><span class="white f-15 f-la-re">Ban Again!</span></button></center>
			</td>
			</tr>
			<tr>
			<td style="width:15%;">
			<p class="white f-15 f-la-re text-center">27/06/2019<br>22:15</p>
			</td>
			<td style="width:15%;">
			<center><img class="img-responsive center-block" src="/static/pages/img/icons/image-sample2.png" style="border-radius:50%;overflow:hidden;width: 5rem;height: 5rem;"/></center>
			<p class="white f-15 f-la-re pointer m-t-10 text-center"><u>Vigneshraja K</u></p>
			</td>
			<td style="width:25%;">
			<p class="white f-15 f-la-re">This is the worst post i have ever seen in social media</p>
			</td>
			<td style="width:15%;">
			<center><button class="btn btn-info" style="border-radius:7px;background-color:#F200AF;color:#fff;border:none;"><span class="white f-15 f-la-re">View Post</span></button></center>
			</td>
			<td style="width:15%;">
			<center><button class="btn btn-info" style="border-radius:7px;background-color:#F200AF;color:#fff;border:none;"><span class="white f-15 f-la-re">Bring Back!</span></button></center>
			</td>
			<td style="width:15%;">
			<center><button class="btn btn-info" data-toggle="modal" data-target="#banModal" style="border-radius:7px;background-color:#F200AF;color:#fff;border:none;"><span class="white f-15 f-la-re">Ban Again!</span></button></center>
			</td>
			</tr>
			</tbody>
			</table>
	  </div>
	  </div>
	  
	  <div class="row hidden">
	  <div class="col-lg-8">
	  <center><p class="white f-17 f-la-re m-t-100">No Comments Yet!</p></center>
	  </div>
	  <div class="col-lg-4"></div>
	  </div>
    </div>
	
	<div id="analysis" class="tab-pane fade m-t-20">
      <div class="row">
	  <div class="col-lg-12">
	  <p class="m-l-30  m-b-40 white f-17 f-la-re"><b>Analysis</b></p>
	  </div>
	  </div>
	  <div class="row">
	  <div class="col-md-8">
	  <div class="row">
	  <div class="col-md-10">
	  <p class="f-17 white f-la-re m-l-30">Automatic Sentiment Analysis</p>
	  <p class="f-15 white f-la-re m-l-30">Automatically analyze the sentiment (positive, negative, neutral) of <br>
	  text in comments and hide them</p>
	  </div>
	  <div class="col-md-2">
	  <div class="checkbox checkbox-primary">
            <input id="checkbox2" type="checkbox" checked="">
            <label for="checkbox2">
                        </label>
          </div>
	  </div>
	  </div>
	  </div>
	  <div class="col-md-4"></div>
	  </div>
	  
	  <div class="row m-t-40">
	  <div class="col-md-8">
	  <div class="row">
	  <div class="col-md-10">
	  <p class="f-17 white f-la-re m-l-30">Analyze Ads Only</p>
	  <p class="f-15 white f-la-re m-l-30">If checked, only ads will be analyzed and monitored. Page posts will not.<br>
If unchecked, all posts (ads and pages posts) will be analyzed and monitored.</p>
	  </div>
	  <div class="col-md-2">
	  <div class="checkbox checkbox-primary">
            <input id="checkbox1" type="checkbox">
            <label for="checkbox1">
                        </label>
          </div>
	  </div>
	  </div>
	  </div>
	  <div class="col-md-4"></div>
	  </div>
    </div>
	
	<div id="settings" class="tab-pane fade m-t-20">
      <div class="row">
	  <div class="col-lg-12">
	  <p class="m-l-30  m-b-20 white f-17 f-la-re"><b>Settings</b></p>
	  </div>
	  </div>
	  <div class="row">
	  <div class="col-md-6">
	  <div class="tab-content m-l-30">
      <div id="profile" class="tab-pane fade show active m-t-15">
	  <p class="white f-17 f-la-re">Profile Details</p>
	  <form method="post" id="profilefields">
	  <label class="f-13 white f-la-re">Name</label>
	  <br>
	  <label class="input">
	  <input class="m-b-10" type="text" name="name" id="name" value="">
	  </label>
	  <br>
	  <label class="f-13 white f-la-re">Email ID</label>
	  <br>
	  <label class="input">
	  <input class="m-b-10" type="email" name="mailid" id="mailid" value="">
	  </label>
	  <br>
	  <label class="f-13 white f-la-re">Facebook URL</label>
	  <br>
	  <label class="input">
	  <input class="m-b-10" type="text" name="fburl" id="fburl" value="">
	  </label>
	  <br>
	  <button class="btn btn-info m-t-20" style="border-radius:7px;background-color:#F200AF;color:#fff;"><span class="white f-15 f-la-re">Update Your Profile</span></button>
									
	  </form>
	  </div>
	  <div id="changepwd" class="tab-pane fade m-t-15">
	  <p class="white f-17 f-la-re">Change Password</p>
	  <form method="post" id="profilefields">
	  <label class="f-13 white f-la-re">Old Password</label>
	  <br>
	  <label class="input">
	  <input class="m-b-10" type="password" name="oldpwd" id="oldpwd" value="">
	  </label>
	  <br>
	  <label class="f-13 white f-la-re">New Password</label>
	  <br>
	  <label class="input">
	  <input class="m-b-10" type="password" name="newpwd" id="newpwd" value="">
	  </label>
	  <br>
	  <label class="f-13 white f-la-re">Confirm New Password</label>
	  <br>
	  <label class="input">
	  <input class="m-b-10" type="password" name="cnfrmpwd" id="cnfrmpwd" value="">
	  </label>
	  <br>
	  <button class="btn btn-info m-t-20" style="border-radius:7px;background-color:#F200AF;color:#fff;"><span class="white f-15 f-la-re">Update</span></button>
									
	  </form>
	  </div>
	  <div id="fanpages" class="tab-pane fade m-t-15">
	  <p class="white f-17 m-b-20">Fanpages</p>
	  
	  <div class="row">
		  <div class="col-md-12">
		  <div class="row m-b-10 m-t-10">
		  <div class="col-md-12">
		  <div class="pointer" style="padding:10px;">
			<span class="pull-left"><img src="/static/pages/img/icons/image-sample4.png" style="border-radius:50%;width:50px;height:50px;">
              <span class="m-l-10 f-la-bo f-15 white">Facebook Fan Page 1</span></span>
			<span class="pull-right m-r-30 m-t-5"><button class="btn btn-danger" data-toggle="modal" data-target="#unlinkModal" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Unlink?</span></button></span>  
		  </div>
		  </div>
		  <div class="col-md-12 m-b-10 m-t-10">
		  <div class="pointer" style="padding:10px;">
			<span class="pull-left"><img src="/static/pages/img/icons/image-sample4.png" style="border-radius:50%;width:50px;height:50px;">
              <span class="m-l-10 f-la-bo f-15 white">Facebook Fan Page 2</span></span>
			<span class="pull-right m-r-30 m-t-5"><button class="btn btn-danger" data-toggle="modal" data-target="#unlinkModal" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Unlink?</span></button></span>  
		  </div>
		  </div>
		  </div>
		  </div>
		  
		  </div>
	  
	  </div>
	  
	  <div id="paymenthistory" class="tab-pane fade m-t-15">
	  <p class="white f-17 m-b-20">Payment History</p>
	  <p class="white f-15 f-la-re">15 Words Plan<br>
		Paid $0 on April 13, 2019</p>
	  <br>
	  <p class="white f-15 f-la-re">30 Words Plan<br>
		Paid $10 on March 13, 2019</p>
	  </div>
	  <div id="plans" class="tab-pane fade m-t-15">
	  <p class="white f-17 m-b-30">Plans</p>
	  <p class="white f-15 f-la-re">Current Plan</p>
	  <p class="white f-20 f-la-bo"><b>15</b></p>
	  <p class="white f-15 f-la-re">Comments Analyzed Till Now: <span class="f-la-bo">5</span></p>
	  <p class="white f-15 f-la-re">Comments Analyzed This Month: <span class="f-la-bo">2</span></p>
	  <p class="white f-15 f-la-re">Upcoming Payment: <span class="f-la-bo">$5</span></p>
	  <!-- <button class="btn btn-primary btn-round m-t-30" style="border-radius:7px;background-color:#F200AF;color:#fff;border:none;">Cancel Subscription</button> -->
	  </div>
	  </div>
	  </div>
	  <div class="col-md-6" id="settingsTabs">
	  <div style="border:none;width:250px;">
	  <p class="white f-16 f-la-re" style="padding: 20px;background-color: #373840;margin: 0;">Profile Settings</p>
		<ul data-tabs="tabs" class="nav nav-tabs" style="border:1px solid #ffffff66;border-top:none;padding:20px;">
	  <li class="f-16 white f-la-re"><a data-toggle="tab" class="active" href="#profile" style="padding:0 0 20px">Update Profile</a></li>
	  <li class="f-16 white f-la-re"><a data-toggle="tab" href="#changepwd" style="padding:0 0 20px">Change Password</a></li>
	  <li class="f-16 white f-la-re"><a data-toggle="tab" href="#fanpages" style="padding:0 0 20px">Fanpages</a></li>
	  <li class="f-16 white f-la-re"><a data-toggle="tab" href="#paymenthistory" style="padding:0 0 20px">Payment History</a></li>
	  <li class="f-16 white f-la-re"><a data-toggle="tab" href="#plans" style="padding:0 0 20px">Plans</a></li>
	  </ul>
	  </div>
	  </div>
    </div>
	
  </div>
  </div>
		  
		  
		  </div>
	  </div>
		  
		</div>
		</div>
		</div>
          </div>
          <!-- END APP -->
        </div>
        <!-- END PAGE CONTENT -->
      </div>
      <!-- END PAGE CONTAINER -->
	  
	  <!-- FOR MODALS -->
	  
		<!-- Bad Apples Modals -->
		
	<!-- Ban Modal -->

<div class="modal fade fill-in m-t-20 m-b-20" id="banModal" tabindex="-1" role="dialog" aria-labelledby="modalFillInLabel" aria-hidden="true" style="background-color: rgba(255, 255, 255, 0);">

<div class="modal-dialog " style="border-radius:15px; left:5%;right:30%;width:500px;height:200px;top:25%;background-color:#272431;">
    <div class="modal-content" style="max-width:100%!important;">
        <div class="modal-header w-100 m-b-5" style="display:block; background-color:#fff;">
            <div class="row">
			<div class="col-md-12">
			<div class="m-b-20 text-center" style="height:25px;"><span class="f-20 f-la-bo text-center" style="color:#F200AF;">Ban Again?</span></div>
			</div>
			</div>
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
    <i class="pg-close" style="width:30px;height:30px;background-color:#F200AF;border-radius:50%;font-size:25px;color:#fff;"></i>
</button>
        </div>
        <div class="modal-body">
			<div class="row m-t-20">
			<div class="col-md-1"></div>
			<div class="col-md-10">
			<div class="text-center"><p class="m-t-10 m-b-10 f-la-re f-15 white">Are You Sure You Want To Ban This Comment? </p></div>
			</div>
			<div class="col-md-1"></div>
			</div>
			
			<div class="row m-t-20">
			<div class="col-md-3"></div>
			<div class="col-md-6">
			<center><button class="btn btn-info pull-left" style="border-radius:7px;background-color:#F200AF;color:#fff;border:none;"><span class="white f-15 f-la-re">Yes</span></button><button class="btn btn-info pull-right" style="border-radius:7px;background-color:#F200AF;color:#fff;border:none;"><span class="white f-15 f-la-re">Nah!</span></button></center>
			</div>
			<div class="col-md-3"></div>
			</div>
		</div>
        <div class="modal-footer">

        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>

<!-- Delete Modal -->

<div class="modal fade fill-in m-t-20 m-b-20" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="modalFillInLabel" aria-hidden="true" style="background-color: rgba(255, 255, 255, 0);">

<div class="modal-dialog " style="border-radius:15px; left:5%;right:30%;width:500px;height:200px;top:25%;background-color:#272431;">
    <div class="modal-content" style="max-width:100%!important;">
        <div class="modal-header w-100 m-b-5" style="display:block; background-color:#fff;">
            <div class="row">
			<div class="col-md-12">
			<div class="m-b-20 text-center" style="height:25px;"><span class="f-20 f-la-bo black text-center">Delete Word?</span></div>
			</div>
			</div>
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
    <i class="pg-close" style="width:30px;height:30px;background-color:#F200AF;border-radius:50%;font-size:25px;color:#fff;"></i>
</button>
        </div>
        <div class="modal-body">
			<div class="row m-t-20">
			<div class="col-md-1"></div>
			<div class="col-md-10">
			<div class="text-center"><p class="m-t-10 m-b-10 f-la-re f-15 white">Are You Sure You Want To Delete This Word? </p></div>
			</div>
			<div class="col-md-1"></div>
			</div>
			
			<div class="row m-t-20">
			<div class="col-md-3"></div>
			<div class="col-md-6">
			<center><button class="btn btn-danger pull-left" style="border-radius:7px;;color:#fff;border:none;"><span class="white f-15 f-la-re">Yes</span></button><button class="btn btn-primary pull-right" style="border-radius:7px;color:#fff;border:none;" data-dismiss="modal" aria-hidden="true"><span class="white f-15 f-la-re">Nah!</span></button></center>
			</div>
			<div class="col-md-3"></div>
			</div>
		</div>
        <div class="modal-footer">

        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>


<!-- Unlink Modal -->

<div class="modal fade fill-in m-t-20 m-b-20" id="unlinkModal" tabindex="-1" role="dialog" aria-labelledby="modalFillInLabel" aria-hidden="true" style="background-color: rgba(255, 255, 255, 0);">

<div class="modal-dialog " style="border-radius:15px; left:5%;right:30%;width:500px;height:200px;top:25%;background-color:#272431;">
    <div class="modal-content" style="max-width:100%!important;">
        <div class="modal-header w-100 m-b-5" style="display:block; background-color:#fff;">
            <div class="row">
			<div class="col-md-12">
			<div class="m-b-20 text-center" style="height:25px;"><span class="f-20 f-la-bo black text-center">Unlink Fanpage?</span></div>
			</div>
			</div>
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
    <i class="pg-close" style="width:30px;height:30px;background-color:#F200AF;border-radius:50%;font-size:25px;color:#fff;"></i>
</button>
        </div>
        <div class="modal-body">
			<div class="row m-t-20">
			<div class="col-md-12">
			<div><p class="m-t-10 m-b-20 f-la-re f-15 white">Are you sure you want to Unlink this Fanpage?</p></div>
			<table class="table">
			<tbody style="height:auto;">
			<tr class="text-center f-17 white">
			<td style="width:50%;">
			<span class="m-l-10 f-la-bo f-15 white">Facebook Fan Page 1</span>
			</td>
			<td style="width:50%;">
			<span><a href="" class="f-la-re m-l-10 f-14 white"><u>facebook.com/abcdefghijkl123</u></a></span>
			</td>
			</tr>
			</tbody>
			</table>
			</div>
			</div>
			
			<div class="row m-t-20">
			<div class="col-md-1"></div>
			<div class="col-md-10">
			<center><button class="btn btn-danger pull-left" style="border-radius:7px;;color:#fff;border:none;"><span class="white f-15 f-la-re">Yes I'm Sure!</span></button><button class="btn btn-primary pull-right" style="border-radius:7px;color:#fff;border:none;" data-dismiss="modal" aria-hidden="true"><span class="white f-15 f-la-re">No I'm Not.</span></button></center>
			</div>
			<div class="col-md-1"></div>
			</div>
		</div>
        <div class="modal-footer">

        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>







<!-- Bad Apples Modals End -->
	  

</div>
</div>

      <!-- BEGIN VENDOR JS -->
      <script src="/static/assets/plugins/feather-icons/feather.min.js" type="text/javascript"></script>
      <script src="/static/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
      <script src="/static/assets/plugins/jquery/jquery-3.2.1.min.js" type="text/javascript"></script>
      <script src="/static/assets/plugins/modernizr.custom.js" type="text/javascript"></script>
      <script src="/static/assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
      <script src="/static/assets/plugins/popper/umd/popper.min.js" type="text/javascript"></script>
      <script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
      <script src="/static/assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
      <script src="/static/assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
      <script src="/static/assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
      <script src="/static/assets/plugins/jquery-actual/jquery.actual.min.js"></script>
      <script src="/static/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
      <script type="text/javascript" src="/static/assets/plugins/select2/js/select2.full.min.js"></script>
      <script type="text/javascript" src="/static/assets/plugins/classie/classie.js"></script>
      <script src="/static/assets/plugins/switchery/js/switchery.min.js" type="text/javascript"></script>
	  <script type="text/javascript" src="/static/assets/plugins/jquery-nouislider/jquery.nouislider.min.js"></script>
	  <script type="text/javascript" src="/static/assets/plugins/jquery-nouislider/jquery.liblink.js"></script>
	  
      <!-- END VENDOR JS -->
      <!-- BEGIN CORE TEMPLATE JS -->
      <script src="pages/js/pages.min.js"></script>
      <!-- END CORE TEMPLATE JS -->
      <!-- BEGIN PAGE LEVEL JS -->
      <script src="assets/js/scripts.js" type="text/javascript"></script>
      <!-- END PAGE LEVEL JS -->
	  
	  
	  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	  
    <script type="text/javascript" src="spectrum.js"></script>
    <script type='text/javascript' src='docs/docs.js'></script>

<script type="javascript/text">
$(document).ready(function() {
  $('.selectpicker').selectpicker({
    showSubtext: true
  });
});
</script>
<script src="https://www.google.com/jsapi"></script>
<script>
google.load("visualization", "1", {
    packages: [ "corechart", "bar" ]
});

google.setOnLoadCallback(drawVisualization);

function drawVisualization() {
    // Some raw data (not necessarily accurate)
    var data = google.visualization.arrayToDataTable([
        [ 'Date', 'Removed Comments', 'Total Comments'],
		{% for c in grouped_comment %}
		['{{c.commenttime}}',{{c.removed}},{{c.total}}],
		{% empty %}
  		['Jul' ,0,0]
		{% endfor %}
    ]);

    var options = {
        title: '',
        height: 500,
		colors: ['#177BF6', '#F200AF'],
		lineWidth: 5,
		bar: {groupWidth: "30%"},
		pointSize: 10,
		legend: {textStyle: {color: '#FFF'  , fontSize: 15, fontName: 'Lato'}},
        vAxes: {0: {gridlines: {color: 'transparent'},minValue: 2, maxValue: 10, titleTextStyle:{ color: '#FFF', italic: false, fontSize: 18 }, textStyle: {color: '#FFF'  , fontSize: 15, fontName: 'Lato'}, title:'Number of Removed Comments'},
            1: {gridlines: {
        color: 'transparent'
    },minValue: 1, maxValue: 10, titleTextStyle:{ color: '#FFF',italic: false, fontSize: 18 }, textStyle: {color: '#FFF'  , fontSize: 15, fontName: 'Lato' }, title: 'Total Number of Comments'}},
        hAxis: {
			slantedText: true,
			slantedTextAngle: 60,
            title: "Date",
			titleTextStyle:{ color: '#FFF',italic: false, fontSize: 18, paddingTop:'10' }, textStyle: {color: '#FFF'  , fontSize: 15, fontName: 'Lato'},
        },
        seriesType: "bars",
        series: {
            0: { targetAxisIndex: 0 }, // Bind series 0 to an axis named 'distance'.
            1: { targetAxisIndex: 1, type:"line", textStyle:{color: '#FFF'} }, // Bind series 1 to an axis named 'brightness'.
        },
		backgroundColor: 'transparent',
		chartArea: {
      backgroundColor: ''
    },
        axes: {
            y: {
                0: {
                    label: 'leftyaxis',
					textStyle:{color: '#FFF'}
                }, // Left y-axis.
                1: {
                    side: 'right',
                    label: 'rightyaxis',
					textStyle:{color: '#FFF'},
                } // Right y-axis.
            }
}
    };

    var chart = new google.visualization.ComboChart(document.getElementById('number_format_chart'));
    chart.draw(data, options);
}
</script>
<script>
document.getElementById('selectDate').addEventListener('change', function () {
    var style = this.value == 6 ? 'block' : 'none';
    document.getElementById('datepart').style.display = style;
});
</script>

<script>
document.getElementById('selectDate').addEventListener('change', function () {
    var style = this.value == 5 ? 'block' : 'none';
    document.getElementById('exactDatepart').style.display = style;
});
</script>

<script>
document.getElementById('selectTime').addEventListener('change', function () {
    var style = this.value == 3 ? 'block' : 'none';
    document.getElementById('timepart').style.display = style;
});
</script>

<script>
document.getElementById('selectTime').addEventListener('change', function () {
    var style = this.value == 2 ? 'block' : 'none';
    document.getElementById('exactTimepart').style.display = style;
});
</script>

<script>
document.getElementById('selectDate1').addEventListener('change', function () {
    var style = this.value == 6 ? 'block' : 'none';
    document.getElementById('datepart1').style.display = style;
});
</script>

<script>
document.getElementById('selectDate1').addEventListener('change', function () {
    var style = this.value == 5 ? 'block' : 'none';
    document.getElementById('exactDatepart1').style.display = style;
});
</script>

<script>
document.getElementById('selectTime1').addEventListener('change', function () {
    var style = this.value == 3 ? 'block' : 'none';
    document.getElementById('timepart1').style.display = style;
});
</script>

<script>
document.getElementById('selectTime1').addEventListener('change', function () {
    var style = this.value == 2 ? 'block' : 'none';
    document.getElementById('exactTimepart1').style.display = style;
});
</script>

<script>
$('#settingsMenu').on('click', function(event) {
	$('#pageSelector').addClass('hidden1');
	event.preventDefault();
});
</script>
<script>
$('.otherMenus').on('click', function(event) {
	$('#pageSelector').removeClass('hidden1');
	event.preventDefault();
});
</script>

<script>
$("#fbpagesPart").each(function(){
	if($(this).hasClass("openedDefault")){
  	$(this).find(".fas").css("transition","all 0ms").addClass("rotated");
  	$(this).children(".fbpagesInner").css("display","block");
  }
});

$(".fbpagesOuter").on('click', function(){

	var $filterContent = $(this).parent().find(".fbpagesInner");
  var $arrow = $(this).parent().find(".fa-caret-down");
  
	if(!$(this).parent().hasClass("openedDefault")){
    if(!$filterContent.hasClass("opened")){
      $filterContent.addClass("opened").slideDown(200);
      $arrow.addClass("rotated");
    } else if($filterContent.hasClass("opened")){
      $filterContent.removeClass("opened").slideUp(200);
      $arrow.removeClass("rotated");
    }
  } else {
  	$(this).parent().removeClass("openedDefault");
    $(this).parent().find(".fas").css("transition","transform 200ms ease-in-out").addClass("rotated");
  	$filterContent.removeClass("opened").slideUp(200);
    $arrow.removeClass("rotated");
  }
});
</script>

<script>
		  $('.letterHide').click(function() {
	$('.menuLetter').addClass('hidden1');
	$('.page-sidebar').css('width','100px');
	$('.content').css('padding-left','100px');
	$('.fas').css('margin-left','25px');
	$('.fbImg').css('margin-left','10px');
});
</script>

<script>
		  $('.letterShow').click(function() {
	$('.menuLetter').removeClass('hidden1');
	$('.page-sidebar').css('width','250px');
	$('.content').css('padding-left','250px');
	$('.fas').css('margin-left','0px');
	$('.fbImg').css('margin-left','0px');
});
</script>

<script>
		  $('#hideRight').click(function() {
	$('#content1').removeClass('col-md-9');
    $('#content1').addClass('col-md-11');
	$('#rightSmall').show();
	$('#right-side').hide();
});
</script>

<script>
  $('#blackAddBtn').click(function() {
    $('#blackAddInput').toggle('slow');
  });
</script>

<script>
  $('#whiteAddBtn').click(function() {
    $('#whiteAddInput').toggle('slow');
  });
</script>

<script>
	$("#whitePart").hide();
$("#listToggle:input[name=checkbox]").click(function(){
    $("#blackPart, #whitePart").toggle();
});
</script>
<script>
		
		$('#onlyAds').hide();
	
	  $("#analysisToggle:input[name=checkbox]").click(function(v){
		  $.ajax({url: "http://{{ request.get_host }}/api/flip_page_selection/?page_id={{curpage.page_id}}", success: function(result){
			  alert('Sentiment analysis  updated for this page')
			
		}});
		$("#onlyAds").toggle();
		});	
		$("#addonlyToggle:input[name=checkbox]").click(function(v){
		  $.ajax({url: "http://{{ request.get_host }}/api/ad_only/?page_id={{curpage.page_id}}", success: function(result){
			  alert('Ads only updated for this page')
			
		}});
		});	
</script>

<script>
  $('#whiteBg').click(function() {
    $('.header').css('background-color','white');
	$('#content1').css('background-color','white');
	$('.content').css('background-color','white');
  });
</script>

<script>
  $('.blackBg').click(function() {
    $('.header').css('background-color','#272431');
	$('#content1').css('background-color','#272431');
	$('.content').css('background-color','#272431');
  });
</script>









<script>
$('.downArrow').hide();
$('#videBoxBtn').click(function(){
    $("#videoEffectBox").slideToggle('fast');
	$('.upArrow,.downArrow').toggle();
	$('#workSpace').toggleClass('col-md-12').toggleClass('col-md-9');
    <!-- $(this).find('i').toggleClass('fa-chevron-up fa-chevron-down') -->
});
</script>

<script>
	<!-- $('#workSpace.col-md-12, #workSpace.col-md-9').toggle(); -->
	<!-- $('#workSpace').removeClass('col-md-12'); -->
	<!-- $('#workSpace').addClass('col-md-9'); -->
	
</script>

<script>
$('.penImage').hide();
$('#animateBtn').click(function(){
    $("#animateBox").slideToggle('fast');
	$('.animImage,.penImage').toggle()
    <!-- $(this).find('i').toggleClass('fa-chevron-up fa-chevron-down') -->
});
</script>

<script>
$('#sideMenu > ul > li > a').click(function() {
	$('#sideMenuTab').show();
	});
</script>

<script type="text/javascript">
$("#slider").slider({
    range: true,
    min: 0,
    max: 1000,
    step: 10,
    values: [0, 300],
    slide: function(event, ui) {
        var delay = function() {
            var handleIndex = $(ui.handle).data('index.uiSliderHandle');
            var label = handleIndex == 0 ? '#min' : '#max';
            $(label).html('$' + ui.value).position({
                my: 'center top',
                at: 'center bottom',
                of: ui.handle,
                offset: "0, 10"
            });
        };
        
        // wait for the ui.handle to set its position
        setTimeout(delay, 5);
    }
});

$('#min').html('$' + $('#slider').slider('values', 0)).position({
    my: 'center top',
    at: 'center bottom',
    of: $('#slider a:eq(0)'),
    offset: "0, 10"
});

$('#max').html('$' + $('#slider').slider('values', 1)).position({
    my: 'center top',
    at: 'center bottom',
    of: $('#slider a:eq(1)'),
    offset: "0, 10"
});

</script>

<script type="text/javascript">
$("#slider1").slider({
    range: true,
    min: 0,
    max: 1000,
    step: 10,
    values: [0, 400],
    slide: function(event, ui) {
        var delay = function() {
            var handleIndex = $(ui.handle).data('index.uiSliderHandle');
            var label = handleIndex == 0 ? '#min' : '#max';
            $(label).html('$' + ui.value).position({
                my: 'center top',
                at: 'center bottom',
                of: ui.handle,
                offset: "0, 10"
            });
        };
        
        // wait for the ui.handle to set its position
        setTimeout(delay, 5);
    }
});

$('#min1').html('$' + $('#slider').slider('values', 0)).position({
    my: 'center top',
    at: 'center bottom',
    of: $('#slider a:eq(0)'),
    offset: "0, 10"
});

$('#max1').html('$' + $('#slider').slider('values', 1)).position({
    my: 'center top',
    at: 'center bottom',
    of: $('#slider a:eq(1)'),
    offset: "0, 10"
});

</script>

<script type="text/javascript">
$("#slider2").slider({
    range: true,
    min: 0,
    max: 1000,
    step: 10,
    values: [0, 200],
    slide: function(event, ui) {
        var delay = function() {
            var handleIndex = $(ui.handle).data('index.uiSliderHandle');
            var label = handleIndex == 0 ? '#min' : '#max';
            $(label).html('$' + ui.value).position({
                my: 'center top',
                at: 'center bottom',
                of: ui.handle,
                offset: "0, 10"
            });
        };
        
        // wait for the ui.handle to set its position
        setTimeout(delay, 5);
    }
});

$('#min2').html('$' + $('#slider').slider('values', 0)).position({
    my: 'center top',
    at: 'center bottom',
    of: $('#slider a:eq(0)'),
    offset: "0, 10"
});

$('#max2').html('$' + $('#slider').slider('values', 1)).position({
    my: 'center top',
    at: 'center bottom',
    of: $('#slider a:eq(1)'),
    offset: "0, 10"
});

</script>



<script type="text/javascript">
$("#slider3").slider({
    range: true,
    min: 0,
    max: 1000,
    step: 10,
    values: [0, 400],
    slide: function(event, ui) {
        var delay = function() {
            var handleIndex = $(ui.handle).data('index.uiSliderHandle');
            var label = handleIndex == 0 ? '#min' : '#max';
            $(label).html('$' + ui.value).position({
                my: 'center top',
                at: 'center bottom',
                of: ui.handle,
                offset: "0, 10"
            });
        };
        
        // wait for the ui.handle to set its position
        setTimeout(delay, 5);
    }
});

$('#min3').html('$' + $('#slider').slider('values', 0)).position({
    my: 'center top',
    at: 'center bottom',
    of: $('#slider a:eq(0)'),
    offset: "0, 10"
});

$('#max3').html('$' + $('#slider').slider('values', 1)).position({
    my: 'center top',
    at: 'center bottom',
    of: $('#slider a:eq(1)'),
    offset: "0, 10"
});

</script>

<script>

  $('.container01 img, .iconImg ').draggable().resizable({
    handles: "ne, se, sw, nw"
  });

</script>

<script type="text/javascript">
$(".slider").slider({
    range: true,
    min: 0,
    max: 1000,
    step: 10,
    values: [100, 500],
    slide: function(event, ui) {
        var delay = function() {
            var handleIndex = $(ui.handle).data('index.uiSliderHandle');
            var label = handleIndex == 0 ? '.min' : '.max';
            $(label).html('$' + ui.value).position({
                my: 'center top',
                at: 'center bottom',
                of: ui.handle,
                offset: "0, 10"
            });
        };
        
        // wait for the ui.handle to set its position
        setTimeout(delay, 5);
    }
});

$('.min').html('$' + $('.slider').slider('values', 0)).position({
    my: 'center top',
    at: 'center bottom',
    of: $('.slider a:eq(0)'),
    offset: "0, 10"
});

$('.max').html('$' + $('.slider').slider('values', 1)).position({
    my: 'center top',
    at: 'center bottom',
    of: $('.slider a:eq(1)'),
    offset: "0, 10"
});

</script>


<script>
var elems = Array.prototype.slice.call(document.querySelectorAll('.switchery'));
// Success color: #10CFBD
elems.forEach(function(html) {
  var switchery = new Switchery(html, {color: '#272431'});
});
</script>
<script>
function showLevels() {
	document.getElementById('rockPart').style.display='block';
	document.getElementById('dyonisusPart').style.display='none';
}
</script>
<script>
document.getElementById('buttonid').addEventListener('click', openDialog);

function openDialog() {
  document.getElementById('fileid').click();
}
</script>

<script>
	function showFrontLayer() {
  document.getElementById('bg_mask').style.display='block';
  document.getElementById('frontlayer').style.display='block';
}
function hideFrontLayer() {
  document.getElementById('bg_mask').style.display='none';
  document.getElementById('frontlayer').style.display='none';
}
</script>

<script>
function showLevels1() {
	document.getElementById('rockPart1').style.display='block';
	document.getElementById('dyonisusPart1').style.display='none';
	document.getElementById('frontlayer1').style.display='none';
}
</script>

<script>
	function showFrontLayer1() {
  document.getElementById('bg_mask1').style.display='block';
  document.getElementById('frontlayer1').style.display='block';
}
</script>

<script>
function showLevels2() {
	document.getElementById('rockPart2').style.display='block';
	document.getElementById('dyonisusPart2').style.display='none';
	document.getElementById('frontlayer2').style.display='none';
}
</script>

<script>
	function showFrontLayer2() {
  document.getElementById('bg_mask2').style.display='block';
  document.getElementById('frontlayer2').style.display='block';
}
</script>

<script>
function showLevels3() {
	document.getElementById('rockPart3').style.display='block';
	document.getElementById('dyonisusPart3').style.display='none';
	document.getElementById('frontlayer3').style.display='none';
}
</script>

<script>
	function showFrontLayer3() {
  document.getElementById('bg_mask3').style.display='block';
  document.getElementById('frontlayer3').style.display='block';
}
</script>

<script>
		  $('.sidebarClose').click(function() {
	$('#sideMenu').addClass('col-md-12');
    $('#sideMenu').removeClass('col-md-5');
	$('#sideMenuTab').addClass('hidden');
	$('.page-sidebar').css('width','137px');
	$('#sideMenu ul').css('width','137px');
	$('#sideMenu ul li').removeClass('active');
	$('.content').css('padding-left','137px');
});
</script>

<script>
		  $('.sidebarOpen').click(function() {
	$('#sideMenu').addClass('col-md-5');
    $('#sideMenu').removeClass('col-md-12');
	$('#sideMenuTab').removeClass('hidden');
	$('.page-sidebar').css('width','330px');
	$('.inner-content').css('padding-left','0');
	$('#sideMenu ul li').addClass('active');
	$('.content').css('padding-left','330px');
});
</script>

<script>
    $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>
<script>
    $('#sideMenu li a').click(function (e) {
		e.preventDefault();
        $(this).tab('show');
    })
</script>
<script>
$("#sideMenu ul li").on("click", function() {
    $("li").removeClass("active");
    $(this).addClass("active");
  });
</script>
<script>
    $('#myTab1 a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>
<script type="text/javascript">
 $("#run-btn").click(function(){
    event.preventDefault();    
    $('#connect-btn').removeClass('btn-hide');
    $('#run-btn').addClass('btn-hide');
  });
</script>

<script type="text/javascript">
 $(".icon01").click(function(){
    event.preventDefault();    
    $('.icon02').removeClass('btn-hide');
    $('.icon01').addClass('btn-hide');
  });
</script>

<script type="text/javascript">

 $(".forImage").click(function(){
    event.preventDefault();    
    $('#editImage').removeClass('hidden1');
    $('#editVideo').addClass('hidden1');
  });
</script>

<script type="text/javascript">

 $(".forVideo").click(function(){
    event.preventDefault();    
    $('#editVideo').removeClass('hidden1');
    $('#editImage').addClass('hidden1');
  });
</script>

<script type="text/javascript">
 $(".imgLibrary").click(function(){
    event.preventDefault();    
    $('.iconImg').removeClass('btn-hide');
    $('.icon0').addClass('btn-hide');
  });
</script>

<script>
$(".showSingle").click(function(){
              $(".targetDiv").hide();
              $("#div"+$(this).attr("target")).show();
			  $("#div"+$(this).addClass("show"));
			  
        });
</script> 
<script>
$('.layerWrapper').on('click','.layerBox',function () {
    $(this).parent().find('.layerBox').css('color', '');
    $(this).css('color', '#fff');
});

$('.layerWrapper').on('click','.layerBox1',function () {
    $(this).parent().find('.layerBox1').css('background', '');
    $(this).css('background', '#fff');
});
</script>
<script>
$('#solidBtn').click(function(){
			  $("#solidBtn").css('background-color','#177bf6');
			  $("#solidBtn").css('padding','5px');
			  $("#solidBtn").css('border-radius','10px');
			  $("#gradientBtn").css('background-color','');
			  $("#gradientBtn").css('padding','0');
			  $("#gradientBtn").css('border-radius','0');
              $(".showSolid").show();
			  $(".showGradient").hide();
        });
$('#gradientBtn').click(function(){
			  $("#gradientBtn").css('background-color','#177bf6');
			  $("#gradientBtn").css('padding','5px');
			  $("#gradientBtn").css('border-radius','10px');
			  $("#solidBtn").css('background-color','');
			  $("#solidBtn").css('padding','0');
			  $("#solidBtn").css('border-radius','0');
              $(".showSolid").hide();
			  $(".showGradient").show();
        });
</script>
<script>

</script>
<script>
$(document).ready(function() {
    // Apply the plugin to the element
    $("#noUiSlider").noUiSlider({
        start: 0,
        connect: "lower",
        range: {
            'min': 0,
            'max': 100
        }
    });
});
</script>
<script>
$(document).ready(function () {
			$(".toggle-sidebar").click(function () {
				$("#right-side").toggleClass("collapsed");
				$("#content1").toggleClass("col-md-12 col-md-9");
				
				return false;
			});
		});
</script>
<script>
$('#abrilFont').click(function() {
    $('#fontDetails').css('display', 'block');
	$('#fontBox').css('height', '200px');
});
$('#fontDetailsClose').click(function() {
    $('#fontDetails').css('display', 'none');
	$('#fontBox').css('height', '500px');
});

</script>
<script>
$('#customEffect').click(function() {
    <!-- $('#customDropdown').css('display', 'block'); -->
	$('#customDropdown').toggle();
	$('#fontBox').css('height', 'auto');
});

</script>
<script>
$('#shadowEffect').click(function() {
    $('#shadowEffectDetails').css('display', 'block');
	$('#effectBox').css('height', '200px');
	$('#customDropdown').hide();
});
$('#shadowDetailsClose').click(function() {
    $('#shadowEffectDetails').css('display', 'none');
	$('#effectBox').css('height', '500px');
});

</script>

<script>

$('#radial').click(function() {
    $('#radial').css('font-weight', 'bold');
	$('#radial').css('border', '1px solid #000');
	$('#radial').css('border-radius', '5px');
    $('#linear').css('font-weight', 'normal');
	$('#linear').css('border', 'none');
});

$('#linear').click(function() {
    $('#linear').css('font-weight', 'bold');
	$('#linear').css('border', '1px solid #000');
	$('#linear').css('border-radius', '5px');
    $('#radial').css('font-weight', 'normal');
	$('#radial').css('border', 'none');
});
</script>
<script>
var range = $('.input-range'),
    value = $('.range-value');
    
value.html(range.attr('value'));

range.on('input', function(){
    value.html(this.value);
}); 
</script>
  </body>
</html> 