{% load static %}
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Bad Apples</title>
  
  
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons'>
<link rel='stylesheet' href='https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css'>

      <link rel="stylesheet" href="/static/css/login/style.css">

  
</head>

<body>

  <div id="app">
  <v-app>
    <v-content>
      <v-container fluid pa-0>
        <div class="background-shapes-wrapper">
          <div class="background-shapes-container">
            <div class="background-shape circle-one"></div>
            <div class="background-shape circle-two"></div>
            <div class="background-shape square-one"></div>
            <div class="background-shape square-two"></div>
            <div class="background-shape square-three"></div>
            <div class="background-shape triangle-one"></div>
            <div class="background-shape triangle-two"></div>
            <div class="background-shape triangle-three"></div>
            <div class="background-shape rectangle-one"></div>
            <div class="background-shape rectangle-two"></div>
          </div>
        </div>
        <v-layout row wrap>
          <v-flex xs12 sm4 id="sign-in-text-wrapper" v-bind:class="{ switch: isSwitch }">
            <v-layout column align-center justify-center fill-height pa-3>
              <div class="login-wrapper text-xs-center mb-3 pa-5">
                <div class="display-1 font-weight-black mb-3" v-if="isSwitch">Hello Friend</div>
                <div class="display-1 font-weight-black mb-3" v-else>Welcome Back!</div>
                <span class="subheading" v-if="isSwitch">Enter your personal and start journey with us</span>
                <span class="subheading" v-else>To keep connected with us, please login with your info</span>
              </div>
              <v-btn round outline large dark ripple v-if="isSwitch" id="sign-up" @click="isSwitch = !isSwitch">Sign up</v-btn>
              <v-btn lkm="sign2" round outline large dark ripple v-else id="sign-in" @click="isSwitch = !isSwitch">Sign in</v-btn>
            </v-layout>
          </v-flex>
          <v-flex xs12 sm8 id="sign-up-form-wrapper" class="active" v-bind:class="{ switch: isSwitch}">
            <v-layout column align-center justify-center pa-3 mt-5>
              <v-flex xs12 mb-3 mt-5>
                <div class="login-wrapper text-xs-center">
                  <div lkm="sign2e" class="display-1 font-weight-black" v-if="isSwitch">Sign In</div>
                   <div class="display-1 font-weight-black" v-else>Create Account</div>
                </div>
              </v-flex>
              <v-flex xs12 mb-2> 
               <span class="grey--text text--lighten-1" v-if="isSwitch">Enter your credentials</span>
                <span class="grey--text text--lighten-1" v-else>or use your email for registration</span>
              </v-flex>
              <v-flex xs12 class="form-wrapper">
                <div v-if="isSwitch"></div>
                <v-text-field v-model="name" box full-width single-line label="Name" background-color="#f4f8f7" color="grey darken-2" prepend-inner-icon="mdi-account-outline" mb-0 v-else></v-text-field>
                <v-text-field v-model="email" box full-width single-line label="Email" background-color="#f4f8f7" color="grey darken-2" prepend-inner-icon="mdi-email-outline"></v-text-field>
                <v-text-field v-model="password" :append-icon="show1 ? 'mdi-eye-outline' : 'mdi-eye-off-outline'" :type="show1 ? 'text' : 'password'" box full-width single-line label="Password" background-color="#f4f8f7" color="grey darken-2" prepend-inner-icon="mdi-lock-outline"
                  @click:append="show1 = !show1"></v-text-field>
              </v-flex>
              <v-btn lkm="sign24"round large dark ripple color="teal" v-if="isSwitch" v-on:click="login">Sign in</v-btn>
              <v-btn lkmround round large dark ripple color="teal" v-else="isSwitch" id="register" v-on:click="register">Sign up</v-btn>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.5.14/vuetify.min.js'></script>

  

    <script  src="/static/js/login/script.js"></script>


 
</body>

</html>

