{% load static %}
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>BadApples Onboard</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  
  
  
      <link rel="stylesheet" href="/static/css/fb/style.css">

  
</head>

<body>

    <div class="container">
    <div class="row">
      <ul class="steps">
        <li >Connect Facebook Account</li>
        <li class="is-active">Select Fanpages</li>
      </ul>
      <form class="form-wrapper">
        <fieldset class="section is-active">
		<div class="container">
		  <div class="row">
		  <div class="col-md-2"></div>
		  <div class="col-md-8">
		  <div class="row">
		  <div class="col-md-12">
		  <p class="white f-25 text-center f-la-bo m-t-10 m-b-10">Select Facebook Page</p>
		  <p class="white f-15 text-center f-la-re m-t-10">Select a page you want to start working with Bad Apples</p>
		  <p class="white f-15 text-center f-la-re m-t-10">If you don't see all your pages, <a href="#" class="white"><u>Click Here</u></a></p>
		  </div>
		  </div>
		  </div>
		  <div class="col-md-2"></div>
		  </div>
		  <div class="row">
		  <div class="col-md-12" style="background-color:#4a4d51;">
		   {% for page in pages %}
			<div class="row m-b-10 m-t-10">
		  <div class="col-md-12">
		  <div class="pointer" style="padding:10px;">
			<span class="pull-left">
			<a href="#pablo">
			<img src="{{page.image}}" style="border-radius:50%;width:50px;height:50px;"/>
			 </a>
              <span class="m-l-10 f-la-bo f-15 white">{{page.name}}</span></span>
			<span class="pull-right m-r-30 m-t-5">
			<input class="form-check-input" type="checkbox" value="" id="checkall"
                        onclick="update_page_selection('{{page.page_id}}');"><button class="btn btn-primary" style="border-radius:7px;color:#fff;border:none;"><span class="white f-15 f-la-re">Connect</span></button></span>  
		  </div>
		  </div>
		  </div>
		  
                 
                  
                  {% endfor %}
		  </div>
		  </div>
		  </div>
		  <div class="row">
		  <div class="col-md-2"></div>
		  <div class="col-md-8">
		  <div class="row">
		  <div class="col-md-12">
		  <p class="white f-15 text-center f-la-re m-t-10">What's coming next?</p>
		  <p class="white f-15 text-center f-la-re m-t-10">We will ask some questions about your bot to make our analytics happy! <br>
		  And to make Bad Apples better for you, of course.</p>
		  </div>
		  
		  </div>
		  </div>
		 
		  </div>
		   <div class="row">
		  <div class="col-md-10"></div>
		   <div class="col-md-2">
		 
		  <input  id="selectpagesubmit" class="submit button f-17 f-la-bo" type="submit" value="Continue">
		  </div>
		  </div>
		  
		  
		  
		  </div>
		  <br>
          
        </fieldset>
      </form>
    </div>
  </div>
  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
     


               


  <div class="modal fade" id="uncheckModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" style="background-color:#f9f8fdb3;">
    <!-- <button type="button" class="close" id="closebutton" data-dismiss="modal" aria-label="Close"> -->
    <!-- <span aria-hidden="true">&times;</span> -->
    <!-- </button> -->
    <div class="modal-dialog" role="document">
      <div class="modal-content mt6 flex1">
        <!-- <div class="modal-header"> -->

        <!-- </div> -->

        <div class="flex1 flex-column h-auto br3 w-auto bg-white shadow pa4 pt5 items-center justify-center">
          <i class="material-icons" style="font-size:50px;color:#f14747;">error</i>
          <h1 class="errorTitle mt-1-5-rem mb0 tc">Error</h1>
          <h2 class="errorText ma-1-5-rem mw20rem tc">You should be subscribed at least to one page to use Sour Grapes.
          </h2>
          <div class="flex1 flex-row justify-center items-center w-100">
            <button type="button" class="btn btn-primary changeEmailBtn ttu" data-dismiss="modal">Okay</button>
          </div>
        </div>
      </div>
    </div>
  </div>





  

  <script>
    $("#checkallll").click(function () {


      if ($("input[type='checkbox']").prop("checked")) {
        $(':checkbox').prop('checked', false);

      } else {
        $(':checkbox').prop('checked', true);

      }

    });
  </script>
  <script>
    $("#UncheckAll").click(function () {
      $("input[type='checkbox']").prop('checked', false);
    });


    $("#CheckAll").click(function () {
      $("input[type='checkbox']").prop('checked', true);
    })
	$('#selectpagesubmit').click(function (e){
	e.preventDefault();
	location.href = '/dashboard/?uid={{uid}}';
	});
  </script>

 

<script>
    function update_page_selection(page_id){      
      $.get("/api/flip_page_selection", {
        page_id: page_id
      }, function(data) {
      });
    }
	<!-- function onclick(event) { -->
	  <!-- location.href = '/dashboard/?uid={{uid}}'; -->
	<!-- } -->
  </script>
</body>

</html>