<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>BadApples Onboard</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  
  
  
      <link rel="stylesheet" href="/static/css/fb/style.css">

  
</head>

<body>

    <div class="container">
    <div class="row">
      <ul class="steps">
        <li class="is-active">Connect Facebook Account</li>
        <li>Select Fanpages</li>
      </ul>
      <form class="form-wrapper">
        <fieldset class="section is-active">
		  <div class="row">
		  <div class="col-md-12">
          <p class="white f-25 text-center f-la-bo m-t-10 m-b-10">Connect Facebook Account</p>
		  <p class="white text-center f-la-re f-15">Sign In with Facebook to enter Bad Apples</p>
		  <br>
		  <div id="app">
		   <fb:login-button scope="public_profile,email" onlogin="checkLoginState();" class="btn btn-primary f-la-bo f-17">
                  </fb:login-button>
				  </div>
          <button class="btn btn-primary f-la-bo f-17">Sign In with Facebook</button>
		  <br>
		  <br>
		  <span class="m-t-10"><input type="checkbox"><span class="f-15 white f-la-re m-l-10">I agree to Bad Apples <a href="#" class="white"><u>Terms of Service</u></a><br> 
		  and <a href="#" class="white"><u>Privacy Policy</u></a></span></span>
		  </div>
		  </div>
		  <div class="row">
		  <div class="col-md-2"></div>
		  <div class="col-md-8">
		  <div class="row">
		  <div class="col-md-12">
		  <p class="white f-15 text-center f-la-re m-t-10">What's coming next?</p>
		  <p class="white f-15 text-center f-la-re m-t-10">We'll need some permissions to manage your Page's messages to automate your replies. That will open Facebook but don't worry! You will be back right after granting all requested permissions.</p>
		  </div>
		  </div>
		  </div>
		  <div class="col-md-2"></div>
		  </div>
		  <br>
          <div style="display:none;" class="button f-17 f-la-bo">Continue</div>
        </fieldset>
        </form>
    </div>
  </div>
  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  

    <script  src="/static/js/fb/script.js"></script>





<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '{{client_id}}',
            cookie: true,
            xfbml: true,
            version: 'v3.3'
        });

        FB.AppEvents.logPageView();

    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));


    function checkLoginState() {
	console.log('called')
        FB.getLoginStatus(function (response) {
            // statusChangeCallback(response);
            console.log(response)
            access_token = response.authResponse.accessToken
            $.get("/api/facebook_login", {
              uid: "{{uid}}",
              access_token : access_token              
            }, function(data) {
              window.location.replace(data.redirect);
            })
        });
    }
</script>

</body>

</html>